$primary-color: #894f62;
$secondary-color: #bc4555;
$tertiary-color: #fa1e3c;
$quaternary-color: #b1bb78;
$quinary-color: #eed59a;
$senary-color: #69d2e7;

* {
  // border: solid 2px red;
  color: #333;
}

body {
  margin-top: 20px;
  font-family: 'Trebuchet MS', serif;
  line-height: 1.6;
  background-image: url('../../assets/background.jpg');
  background-size: 100vw;
}

header {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.header-style {
  display: flex;
  justify-content: space-between;
}

h1, h3 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: black 1px 0 10px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  background: none;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}

ul.tabs li.current {
  background: #ededed;
  color: #222;
}

.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.tab-content.current {
  display: flex;
  height: 350px;
  justify-content: center;
}

.main.section, .orders-style, .rooms.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
    p {
      font-size: 40px;
      margin: 20px 0;
    }
}

.main.section {
  padding: 0px 25px;
}

.customer.section, .orders.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 25px;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
    input {

    }
}