$primary-color: #894f62;
$secondary-color: #bc4555;
$tertiary-color: #fa1e3c;
$quaternary-color: #b1bb78;
$quinary-color: #eed59a;
$senary-color: #69d2e7;

* {
  // border: solid 1px red;
  color: #333;
  font-family: 'Cinzel', serif;
}

body {
  margin-top: 20px;
  font-family: 'Trebuchet MS', serif;
  line-height: 1.6;
  background-image: url('../../assets/background.jpg');
  background-size: 135vw;
}

header {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

#todays-date {
  margin-right: 50px;
  font-size: 30px;
}

.header-style {
  display: flex;
  justify-content: space-between;
}

h1, h3 {
  color: white;
  margin: 10px 30px;
  text-align: center;
  text-shadow: black 1px 0 10px;
}

h3 {
  font-size: 25px;
}

h4{
  font-size: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tabs li {
  background: none;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}

ul.tabs li.current {
  background: #ededed;
  color: #222;
}

.tab-content {
  display: none;
  background: #ededed;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.tab-content.current {
  display: flex;
  height: 400px;
  justify-content: center;
  // text-shadow:white 1px 0 10px;
}

.main.section, .rooms.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // padding: 0px 15px;
  margin: 15px;
  border-radius: 8px;
  background-color: #e5e5e5;
  border: solid 2px #cce5e8;
  overflow-y: scroll;
    p {
      font-size: 25px;
      margin: 10px 0;
    }
}

.orders.content p {
  font-size: 25px;
  margin: 10px 0;
}

.customer.section, .orders.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 15px;
  margin: 15px;
  width: 50%;
  background-color: #e5e5e5;
  border: solid 2px #cce5e8;
  border-radius: 8px;
    p {
      font-size: 25px;
      margin: 10px 0;
    }
}

.orders.section {
  width: 25%;
  font-size: 50px;
}

.orders-breakdown {
  font-size: 25px;
}

.orders.section.3 {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}

th, td {
  font-size: 12px;
  padding: 5px;
}

th {
  font-size: 14px;
}